<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.Efi.postgresql.Servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsertCategory</servlet-name>
        <servlet-class>com.Efi.postgresql.Servlet.InsertCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertCategory</servlet-name>
        <url-pattern>/InsertCategoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsertWord</servlet-name>
        <servlet-class>com.Efi.postgresql.Servlet.InsertWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertWord</servlet-name>
        <url-pattern>/InsertWordServlet</url-pattern>
    </servlet-mapping>
</web-app>