img { 
    width: 80%;
}

 button {
	 outline:none;
	 text-align:center;
	 text-decoration:none;
	 color:lightorange;
	 padding:10px 20px;
	 border:1px;
 }
 
 #fraseCss {
	 display:none;
 }
#nome {
	color:darkviolet
}
	
#div1 {
    float: left;
	width: 50%;
	text-align: left;
	
}
#div2 {
	float: left;
	width: 50%;
	text-align: right;
}
