
h3 {
	color: green;
}
#para1 {
	clear: both;
	color: purple;
}
.paraClass {
	color: blue;

}

img { 
    width: 80%;
	
}

 button {
	 outline:none;
	 text-align:center;
	 text-decoration:none;
	 font:bold 12px;
	 color:purple;
	 padding:10px 20px;
	 border:solid 1px;
	 background:#0095cd;
 }
 
 #fraseCss {
	 display:none;
 }
#nome {
	color:darkviolet
}
	
#div1 {
    float: left;
	width: 50%;
	text-align: left;
	
}
#div2 {
	float: left;
	width: 50%;
	text-align: right;
}
